<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- moment.js is the JavaScript equivalent of arrow.py -->
  <script 
    src="{{ url_for('static', filename='js/moment.min.js') }}">
  </script>

</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Times</h1>
  <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-4">
    <label>Distance</label>
  <select name="distance" id="brevet_dist_km">
    <option value="200">200km</option>
    <option value="300">300km</option>
    <option value="400">400km</option>
    <option value="600">600km</option>
    <option value="1000">1000km</option>
  </select>
  </div> <!-- columns 1--4  -->
  <div class="col-md-6">
    <label>Begins at</label>
    <input type=date name="begin_date" id="begin_date" value="2017-01-01" />
    <input type=time name="begin_time" id="begin_time" value="00:00"    />
  </div> <!-- columns 5-10 -->
  </div> <!-- row -->

  <br />  <!-- Cosmetic -- a little vertical space -->
  <div class="row">
  <div class="col-md-12"> 
  <table class="control_time_table">
      <tr>
	<th> Miles </th>
	<th> Km </th>
	<th>Location</th>
	<th>Open</th>
	<th>Close</th>
	<th>Notes</th>
      </tr>
   {% for row in range(20) %}
    <tr class="control" id="control_info">
      <!-- Dist (mi) -->
      <td><input name="miles" type="number" 
           min="0" max="900" size="5" id="miles" /></td>
      <!-- Dist (km) -->
      <td><input name="km" type="text"
	   min="0" max="1100" size="5" id="km"/> </td>
      <!-- Location (optional) -->
      <td><input name="location" type="text" 
        placeholder="Optional location name"
	size="20" /> </td>
      <!-- Open time (read only, set by JavaScript function -->
      <td><input name="open" type="datetime" value="" readonly /></td>
      <!-- Close time (read only, set by JavaScript function -->
      <td><input name="close" type="datetime" value="" readonly /></td>
      <!-- Notes (error messages for this row) -->
      <td class="notes"> &nbsp; </td>
    </tr>
    {% endfor %}
  </table>
  </div> <!-- col -->
  </div> <!-- row -->
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/inputs.js') }}">

</script>

</div>
</body> </html>
